<div class="top-elements">
<ng-select     class = "select"
               [items]="items"
               bindLabel="name"
               placeholder=""
               highlightColor="#9575cd"
               highlightTextColor="#fff"
               [(ngModel)]="selected"
               (change)="getValues()">>
</ng-select>
<button class="btn" (click)="refreshVisual()">Reload</button><br/> 
<button class="btn" (click)="resetVisual()">3D</button><br/>
<button class="btn" (click)="highVisual()">2D</button><br/> 
</div>